<div style="position:absolute; top:0;right:0; margin:20px" >
    <input type="button" (click)="goToAdmin()" value="Admin" />
</div>
<div *ngIf="memberId==0" id="buttonbox" class="group" >

    <button class="login" (click)="getUser()">
        Sign in
    </button>
</div>

<div *ngIf="(memberId > 0)" class="signinPage">
    <form [formGroup]="attendanceform" (ngSubmit)="onFormSubmit()" >
        <div class="group" style="padding: 5px 10px;">
            <div class="name">
            <span>{{member.firstName}} {{member.surname}}</span>
            <span class="dob">DOB {{member.birthday | date:"yyyy-MM-dd"}}</span>
            </div>
            <div class="formlabel">
                Entry Date: {{entryDate | date:"EEEE d MMMM y HH:mm"}}
            </div>
            <div class="optionBox">
                <div>Activity:</div>
                <label *ngFor="let act of activities" class="container">
                    <input type="radio" (change)="activityChanged($event, act)" formControlName="activityId" [value]="act.activityId" >
                    <span class="checkmark">
                        {{act.title}}
                    </span>
                </label>
            </div>
            <div class="optionBox">
                <div>I will be shooting with:</div>
                <label *ngFor="let rifle of member.rifles" class="container">
                    <input type="radio" formControlName="rifleId" [value]="rifle.rifleId" >
                    <span class="checkmark">
                        {{rifle.make}} {{rifle.model}} ( {{rifle.serialNo}} )
                    </span>
                </label>
            </div>
            <label class="container">
                <input type="checkbox" (change)="seasonTicketChanged($event)" fornmControlName="seasonTicket" >
                <span class="checkmark">
                    I have a season ticket
                </span>                
            </label>
            <div class="formlabel" style="display: inline;">
                Range Fee: <b>£ {{attendanceform.controls['payment'].value | number:"1.2-2"}}</b>
            </div>
        </div>
        <div class="group">
            <button type="submit" [disabled]="!attendanceform.valid" class="form" >Confirm</button>
            <button type="button" (click)="cancel()" class="form" >Cancel</button>
        </div>
    </form>
</div>